body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFFFEC;
}

.container {
position: relative;
width: 775px;
/*
    border-style: solid;
    border-color:black;
    border-width: 1px;
*/
}

.topbar {
    text-align: center;
    margin-top: 35px;
    margin-left: 50px;
    height: 130px;
width: 700px;
    background-image: url(images/romance2.jpg);
    background-repeat: repeat-x;
    border-style: solid;
    border-color:black;
    border-width: 1px;
}

.tableClass {
    display: table;
    top: 50px;
    left: 50px;
}

.bodyRow {
    display: table-row;
}

.sidebar {
position: relative;
display: inline;
float: left;
    margin-left: 35px;
height: 100%;
    width: 130px;
    background-color: #C57A7A;
/*
border-style: solid;
    border-color:black;
    border-width: 1px;
*/
}

.titleImage {
position: relative;
left: 20px;
}

.thebody {
    text-align: left;
margin-left: 5px;
margin-top: 15px;
    width: 570px;
    display: inline;
font-size: 16px;
font-weight: normal;
font-family: arial, times, sans-serif;
/*
border-style: solid;
    border-color:black;
    border-width: 1px;
*/
}

.weddingDate {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.menuItem {
  margin-top: 5px;
  margin-left: 5px;
  font-family: Verdana, times, sans-serif;
      font-size: 16px;
  
}

.pictureCircle {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 10;
}


.test1 {
    position:absolute;z-index:2;top:5px;text-align:center;width:100%;height:150px;border:solid black 1px;margin:0px 0px 0px 0px;
}

.test2 {
    position:relative;background-color:white;text-align:center;width:200px;height:150px;border:solid black 1px;margin-right:5px;margin-left:5px;}
